<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h3 class="h">Bank Account Login<marquee scrollamount=6s>
                        <h4>{{aim}}</h4>
                    </marquee>
                </h3>
                <form [formGroup]="loginForm" (ngSubmit)='login()'>
                    <div class="box1">
                        <input id="log" type="text" placeholder="Account Number" name='accno' formControlName="accno" class="input">
                    </div>
                    <div *ngIf="(this.loginForm.get('accno')?.touched || this.loginForm.get('accno')?.dirty) && this.loginForm.get('accno')?.errors" class="error">Invalid Account</div>
                    <div class="box2">
                        <input id="pass" type="password" placeholder="Password" name='pswd' formControlName="pswd" class="input">
                    </div>
                    <div *ngIf="(this.loginForm.get('pswd')?.touched || this.loginForm.get('pswd')?.dirty) && this.loginForm.get('pswd')?.errors" class="error">Invalid Password</div>
                    <div class="for1">
                        <a href="#" class="for">Forget Password?</a>
                    </div>
                    <div class="but">
                        <button type="submit" class="btn btn-primary" style="width: 80%; background-color: brown;"
                            >LogIn</button>
                    </div>
                    <div class="but">
                        <button type="button" class="btn btn-primary" style="width: 80%; background-color: crimson;"
                            (click)='register()'>Create Account</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>